<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">CT-Scans</h2>
      <h3 class="heading-section">Head</h3>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CT Head</h5>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CT Orbit Both</h5>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CT Etrous Bones</h5>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CT Temporal Bones</h5>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CT Face</h5>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CT Sinuses</h5>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  </div>

  <h3 class="heading-section">Neck</h3>
  <br>
<div class="row">
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
  <h5 class="card-title">CT Spine Cervical</h5>
  <a href="#" class="btn btn-primary">Book Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
  <h5 class="card-title">CT Neck</h5>
  <a href="#" class="btn btn-primary">Book Test</a>
</div>
</div>
</div>
</div>

</div>
</body>
