<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">X-Rays</h2>
      <h3 class="heading-section">Upper Limb</h3>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Shoulder Lt </h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Shoulder Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CR Humerus Lt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Humerus Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Elbow Lt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Elbow Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Radiud & Ulna Lt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Radiud & Ulna Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR wrist Lt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR wrist Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Hand Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Hand Lt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Fingers Rt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">XR Fingers Lt</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
</div>

  <h3 class="heading-section">Lower Limb</h3>
  <br>
  <div class="row">
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Hip Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Hip Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Femur Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Femur Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Knee Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Knee Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Tibia and Fibula Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Tibia and Fibula Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Ankle Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Ankle Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Foot Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Foot Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Toes Lt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">XR Toes Rt </h5>
        <a href="#" class="btn btn-primary">Take Test</a>
      </div>
      </div>
    </div>
  </div>

  <h3 class="heading-section">Axial Skeleton</h3>
  <br>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
  <h5 class="card-title">XR Skull</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
  <h5 class="card-title">XR Cervical Spine</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
  <h5 class="card-title">XR Lumber Spine</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
  <h5 class="card-title">XR Sacroiliac Joint</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
  </div>
</div>

<h3 class="heading-section">Head</h3>
<br>
<div class="row">
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR Skull</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR </h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR Facial Bones</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR Orbit Both</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title" style="font-size:16px;">XR Orthopantomogram Full</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR Salvary Glands</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title" style="font-size:16px;">XR Submandibular Sialogram</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title" style="font-size:14.7px;">XR Submandibular Sialogram Lt</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem; font-size:1rem;">
<div class="card-body">
<h5 class="card-title" style="font-size:1.2rem;">XR Parotid Sialogram Lt</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title" style="font-size:1.2rem;">XR Parotid Sialogram Rt</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
</div>

<h3 class="heading-section">Neck</h3>
<br>
<div class="row">
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR Cervical Spine</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title" style="font-size:16px; ">XR Cervicothoracic Junction</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">XR Neck Soft Tissues</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
</div>


</div>
</body>
