<app-navbar></app-navbar>
<body>

<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Immuno Tests</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Immunoglobulins & Electrophoresis Test</h5>
      <p class="card-text">It is a blood test used to measure the types of Ig present in your blood, especially IgM, IgG, and IgA.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">C3 and C4 Test</h5>
      <p class="card-text">C3 & C4 Blood Test measures the levels of Complement component 3 and Complement component 4 in the blood.</p>
      <a href="#" class=" btn btn-primary">Add to cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CCP Antibodies Test</h5>
      <p class="card-text"> This test looks for CCP (cyclic citrullinated peptide) antibodies in the blood. CCP antibodies are made by the immune system.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Rheumatoid Factor Test</h5>
      <p class="card-text">This test measures the amount of rheumatoid factor in blood, proteins produced by your immune System.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">ANA (Includes Centromere Antibody)</h5>
      <p class="card-text">This test helps to diagnose the autoimmune disorder limited cutaneous scleroderma.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Liver Antibody Screen Test</h5>
      <p class="card-text">This test identifies some of the important antibodies responsible for autoimmune liver disease.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Celiac Disease Screen Test</h5>
      <p class="card-text">Celiac disease antibody tests help diagnose and monitor the disease and a few other gluten-sensitive conditions.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">ANCA (Immunofluorescence)</h5>
      <p class="card-text">An ANCA test is most often used to find out if you have a type of autoimmune vasculitis.</p>
      <a href="#" class=" btn btn-primary">Add to cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Thyroid Peroxidase Test</h5>
      <p class="card-text">Thyroid peroxidase test is a test that measures the level of an antibody that is directed against thyroid peroxidase.</p>
      <a href="#" class=" btn btn-primary">Add to cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Intrinsic Factor Antibody Test</h5>
      <p class="card-text">This is a blood test for pernicious anemia, which is caused by a deficiency of vitamin B-12.</p>
      <a href="#" class=" btn btn-primary">Add to cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Cardiolipin Antibodies Test</h5>
      <p class="card-text">A cardiolipin antibodies test looks for a certain kind of antibody in your blood, which fights off infection.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Serum Free Light chains Test</h5>
      <p class="card-text">This test helps detect, diagnose, and monitor plasma cell disorders (dyscrasias).</p>
      <a href="#" class=" btn btn-primary">Add to cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">HLA B27 Screening Test</h5>
      <p class="card-text">This test looks for a protein that is found on the surface of white blood cells called human leukocyte antigen B27.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Asthma, Rhinitis Panel Test</h5>
      <p class="card-text">This test is used to detect the presence of IgE antibodies in the blood against the rhinitis allergy.</p>
      <a href="#" class=" btn btn-primary">Add to cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Asthma, Rhinitis Panel Test</h5>
      <p class="card-text">This test is used to detect the presence of IgE antibodies in the blood against the rhinitis allergy.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Food Panel Test</h5>
      <p class="card-text">This test measures the amount of allergen-specific IgE antibodies in the blood in order to detect an allergy to various common foods.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Dairy Allergy Test</h5>
      <p class="card-text">In this test a small drop of liquid containing the dairy allergen is placed under your skin on your forearm or back to see how skin reacts.</p>
      <a href="#" class=" btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Latex Allergy Test</h5>
      <p class="card-text">In this test a sample containing the specific antigen or antibody is collected, which is later mixed with an antibody, or antigen.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Nut Allergy Test</h5>
      <p class="card-text">This blood test checks if you are allergic to 14 different nuts or seeds, including peanuts, walnuts and other nuts.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Insect Venom Allergy Test</h5>
      <p class="card-text">In this test a small amount of a liquid containing insect venom is placed on the back or forearm.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
  </div>

</div>
</div>
</body>
