<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Haemo Tests</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Wound Swab Test</h5>
      <p class="card-text">This test checks for bacteria or other organisms in a wound with the help of sterile swab. The test is used to find out if a wound is infected.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">High Vaginal Swab</h5>
        <p class="card-text">HVS is a technique used to obtain a sample of discharge from the vagina. This is then sent for culture and sensitivity.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Endocervical Swab Test</h5>
        <p class="card-text">An endocervical gram stain checks for abnormal bacteria in or around the cervixAn endocervical gram stain can detect STIs.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Eye Swab Test</h5>
        <p class="card-text">This test checks for superficial bacterial eye infections or presence of organisms causing ophthalmia neonatorum in neonates.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Mouth Swab Test</h5>
        <p class="card-text">A mouth swab drug test is a screening test used to detect substance use. It's also referred to as a saliva drug test or oral fluids drug.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Nose Swab Test</h5>
        <p class="card-text">This is a test that checks for viruses and bacteria in the secretions from the back of your nose that cause respiratory infections.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Skin Swab Test</h5>
        <p class="card-text">This tests for germs that affect your skin, fingernails, or toenails.A sample of skin is added to a substance that promotes germ growth.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Genital Swab Test</h5>
        <p class="card-text">A sterile swab is used to take the samples from the genitals of the patient to check for any infection, bacteria or any disease.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Throat Swab Test</h5>
        <p class="card-text">This is a test that checks for viruses and bacteria in the secretions from the back of your mouth that cause respiratory infections.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Ear Swab Test</h5>
        <p class="card-text">This is a test that checks for germs in the fluid sample obtained from the patient's ear that can cause different infections.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Urine for Microscopy and Culture Test</h5>
        <p class="card-text">This test detects bacteria in your urine. This test can find and identify the germs that cause a urinary tract infection.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Sputum for Tb Test</h5>
        <p class="card-text">This test find germs such as TB bacteria that can cause an infection. A sample of sputum is added to a substance that promotes bacteria growth.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Urine for Tb Test</h5>
        <p class="card-text">Urine for TB test finds active tuberculosis (TB) infection from the urine sample. Advanced UTTB may cause loss of kidney function.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Nail Clippings Test</h5>
        <p class="card-text">In this test a clipping of 2-3 mm long from all ten fingernails are collected which are further examined to check for the infection.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Nail Scraping Test</h5>
        <p class="card-text">In Nail scraping test sample of debris are collected that are evaluated under a microscope for the dignosis of certain nail infections.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Skin Scraping Test</h5>
        <p class="card-text">In Skin scraping test sample of skin cells are collected that are evaluated under a microscope for the dignosis of certain skin infections.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
</div>
</div>
</body>
