<app-navbar></app-navbar>

<body>

<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Pathology</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/common-tests" style="background-color: #e5243b;" >
      <div class="text">
      <img  src="assets/common.png" class="rounded mx-auto d-flex" alt="..." >
      <span>Common Tests</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/chemical-pathology" style="background-color: #4C9F38;">
      <div class="text">
      <img  src="assets/chemical.png" class="rounded mx-auto d-flex" alt="...">
      <span>Chemical Pathology</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/haematology" style="background-color: #C5192D;">
      <div class="text">
      <img  src="assets/haematology.png" class="rounded mx-auto d-flex" alt="...">
      <span>Haematology</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/microbiology" style="background-color: #FF3A21;">
      <div class="text">
      <img  src="assets/microbiology.png" class="rounded mx-auto d-flex" alt="...">
      <span>Microbiology</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/cardiology" style="background-color: #26BDE2;">
      <div class="text">
      <img  src="assets/cardiology.png" class="rounded mx-auto d-flex" alt="...">
      <span>Cardiology</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/sexual-health" style="background-color: #FCC30B;">
      <div class="text">
      <img  src="assets/sexualhealth.png" class="rounded mx-auto d-flex" alt="...">
      <span>Sexual Health</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/virology" style="background-color: #A21942;">
      <div class="text">
      <img  src="assets/virology.png" class="rounded mx-auto d-flex" alt="...">
      <span>Virology</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/allergens" style="background-color: #FD6925;">
      <div class="text">
      <img  src="assets/allergens.png" class="rounded mx-auto d-flex" alt="...">
      <span>Allergens</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/immunotests" style="background-color: #DD1367;">
      <div class="text">
      <img  src="assets/Immunotest.png" class="rounded mx-auto d-flex" alt="...">
      <span>Immuno Tests</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/other-chemical-tests" style="background-color: #FD9D24;">
      <div class="text">
      <img  src="assets/otherchem.png" class="rounded mx-auto d-flex" alt="...">
      <span>Other Chemical Tests</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/routine-chemical-tests" style="background-color: #BF8B2E;">
      <div class="text">
      <img  src="assets/routinechem.png" class="rounded mx-auto d-flex" alt="...">
      <span>Routine Chemical Tests</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/urine-tests" style="background-color: #3F7E44;">
      <div class="text">
      <img  src="assets/Urinetest.png" class="rounded mx-auto d-flex" alt="...">
      <span>Urine Tests</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/haemo-tests" style="background-color: #0A97D9;">
      <div class="text">
      <img  src="assets/Haemotest.png" class="rounded mx-auto d-flex" alt="...">
      <span>Haemo Tests</span>
    </div>
    </button>
  </div>
  <div class="col-md-3 mb-3">
    <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/bacteriology" style="background-color: #00689D;">
      <div class="text">
      <img  src="assets/bacteriology.png" class="rounded mx-auto d-flex" alt="...">
      <span>Bacteriology</span>
    </div>
    </button>
  </div>
</div>
</div>

</body>
