.btn-primary
{
  background-color: whitesmoke;
  color:black;
  border-color: #e7e7e7;
  transition-duration: 0.4s;
}
.btn-primary:hover {
  background-color: 	#d8bfd8;
}
.card{
  max-height: 25rem;
  color: black;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
  height: 570px;
  background-image: url('../../assets/path.jpg') ;
  background-size: cover;
}
h2
{
  color: whitesmoke
}
