<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Cardiology</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">12 lead ECG -16+</h5>
      <p class="card-text">The ECG to assess your heart rhythm, diagnose poor blood flow to the heart muscle (ischemia), diagnose a heart attack, and diagnose abnormalities of your heart, such as heart chamber enlargement and abnormal electrical conduction.</p>
      <a href="#" class="btn btn-primary">Book Test</a>
    </div>
    </div>
  </div>
  </div>
</div>
</body>
