<app-navbar></app-navbar>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Ultrasound</h2>
      <h3 class="heading-section">Head</h3>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title" style="font-size:17.5px">US Salivary Glands Parotid</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title" style="font-size:13.6px">US Salivary Glands Submandibular</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">US Carnial Contents</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
</div>

<h3 class="heading-section">Neck</h3>
<br>
<div class="row">
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">US Neck</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">US Parathyroid</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
<h5 class="card-title">US Thyroid</h5>
<a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
</div>

</div>
