<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Allergens</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">House Dust Mite</h5>
      <p class="card-text">In this test, tiny amounts of purified allergen extracts including an extract for dust mites are pricked onto your skin's surface.</p>
      <a href="#" class=" btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Cat Epithelium Test</h5>
      <p class="card-text">Phadia’s E1 test is used to detect blood levels of the IgE (antibodies) responsible for allergic reactions (sneezing, runny nose etc).</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Dog Dander Test</h5>
      <p class="card-text">This test measures the amount of allergen-specific Ige antibodies in the blood in order to detect an allergy to dog dander or hair.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Timothy Grass Test</h5>
      <p class="card-text">This test measures the amount of allergen-specific IgE antibodies in the blood to detect an allergy to timothy grass or hay.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Aspergillus Fumigatus Test</h5>
      <p class="card-text">This test measures the amount of allergen-specific IgE antibodies in the blood to aspergillus fumigatus.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Aspergillus Fumigatus Test</h5>
      <p class="card-text">This test measures the amount of allergen-specific IgE antibodies in the blood to aspergillus fumigatus.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Tree Pollen Test (Mixed Allergen)</h5>
      <p class="card-text">In this test a small drop of the possible allergen on your skin to see the reaction to that allergen.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Mold Screen Test (Mixed Allergen)</h5>
      <p class="card-text">The mold allergy panel test is done to detect allergies caused by common indoor and outdoor molds.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Food Screen Test (Mixed Allergen)</h5>
      <p class="card-text">In this test, a small amount of the suspected food is placed on the skin of your forearm or back.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Nut Screen Test (Mixed Allergen)</h5>
      <p class="card-text">This blood test checks if you are allergic to 14 different nuts or seeds, including peanuts and walnuts.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Egg White Test</h5>
      <p class="card-text">The egg white allergy blood test measures the amount of allergen-specific antibodies in the blood in order to detect an allergy to egg whites.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Milk Test</h5>
      <p class="card-text">In this test, a liquid containing milk or a milk protein extract is placed on your forearm or back, then make a small scratch on the skin.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Codfish Test</h5>
      <p class="card-text">The codfish allergy blood test checks for an allergic reaction to codfish by assessing the level of the IgE antibodies in the blood.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Wheat Test</h5>
      <p class="card-text">In this test,  a small amount of purified wheat protein under the surface of your skin, usually on your forearm or upper back will be injected.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Soybean Test</h5>
      <p class="card-text">In this test, small amount of your skin is pricked and your skin is exposed to small amounts of the proteins found in soy.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Egg Yolk Test</h5>
      <p class="card-text">In this test, small amount of your skin is pricked and your skin is exposed to small amounts of a liquid containing egg protein.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Honey Bee Venom Test</h5>
      <p class="card-text">During this test, a small amount of allergen extract (bee venom) is injected into the skin of your arm or upper back, to see the reaction.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Wasp Venom Test</h5>
      <p class="card-text">During this test, a small amount of allergen extract (Wasp venom) is injected into the skin of your arm or upper back, to see the reaction.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Latex Test</h5>
      <p class="card-text">In this test a sample containing the specific antigen or antibody is collected, which is later mixed with an antibody, or antigen.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>



</div>
</div>
</body>
