<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Urine Tests</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Osmolality Test</h5>
      <p class="card-text">This test measures the amount of dissolved substances such as sodium, potassium etc in blood, urine or stool.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Calcium Test</h5>
      <p class="card-text">A calcium blood test measures the amount of calcium in your blood. Optimal calcium levels are required for healthy bones.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Creatinine Test</h5>
      <p class="card-text">A creatinine urine test measures the amount of creatinine in your urine. This helps to determine your kidney health.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Creatinine Clearence Test</h5>
      <p class="card-text">Creatinine clearance test measures the amount of creatinine in a sample of pee collected over 24 hours.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Magnesium Test (24 Hours)</h5>
      <p class="card-text">Magnesium 24 hours test is used to check the level of magnesium in your pee collected over 24 hours.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Oxalate Test (24 Hours)</h5>
      <p class="card-text">That Oxalate Urine Test looks for the presence of certain toxic substances in the intestinal tract from pee collected over 24 hours.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Phosphate Test (24 Hours)</h5>
      <p class="card-text">The phosphate urine test measures the amount of phosphate in a sample of urine collected over 24 hours.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Albumin (Random Urine) </h5>
      <p class="card-text">This test determines if there is an abnormal amount of the protein albumin in a urine sample.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Albumin (24 Hour)</h5>
      <p class="card-text">This test determines if there is an abnormal amount of the protein albumin in a urine sample collected over 24 hours.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Protein (24 Hour)</h5>
      <p class="card-text">The 24-hour urine protein test checks the function of the kidneys and detects disease. Urine samples are collected over a 24-hour.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Proteins/Creatinine ratio(random) </h5>
      <p class="card-text"> A protein and creatinine urine test, random measures the protein/creatinine ratio random untimed. </p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Protein/Creat (24 Hour )</h5>
      <p class="card-text">A Protein Total Urine Test, 24-Hour with Creatinine is used to monitor kidney function, and to detect kidney damage.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Cortisol (24 Hour) </h5>
      <p class="card-text">This test measures the level of cortisol in the urine collected for over 24 hours. The cortisol level may show problems with the adrenal glands.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Lead (24 Hour Urine) Test</h5>
      <p class="card-text">This test measures the lead levels in your urine collected for over 24 hours,excessive levels leads to lead poisoning.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Mercury (24 Hour)</h5>
      <p class="card-text">This test detects the presence of an excessive amount of mercury in a person's urine that is collected for over 24 hours.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Porphyrins Random test</h5>
      <p class="card-text"> Porphyrin tests measure the level of porphyrins in urine. Porphyrins are chemicals that help make hemoglobin.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Porphyrins Random test</h5>
      <p class="card-text"> Porphyrin tests measure the level of porphyrins in urine. Porphyrins are chemicals that help make hemoglobin.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Urate/Uric Acid Test (24 Hour)</h5>
      <p class="card-text">Urate/Uric acid test measures the levels of uric acid you have in your urine collected for over 24 hours. </p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Urate/Uric Acid Test (Random Urine)</h5>
      <p class="card-text">Urate/Uric acid test measures the levels of uric acid you have in your urine smaples obtained. </p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Urea and Electrolytes Test</h5>
      <p class="card-text">They provide essential information on renal function, principally in excretion and homoeostasis.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Copper Test (24 hours)</h5>
      <p class="card-text">Copper Test 24 hours measures the total amount of copper in a urine sample collected for over 24 hours to find copper toxicity.</p>
      <a href="#" class=" btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Copper Test (Random Urine)</h5>
      <p class="card-text">Copper Test random measures the total amount of copper in a urine sample to find copper toxicity.</p>
      <a href="#" class=" btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Catecholamine Test (24 Hours)</h5>
      <p class="card-text">Catecholamine 24 hours test measures the total amount of catecholamines released into the urine in 24 hours.</p>
      <a href="#" class=" btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">VMA Profile and Catecholamines Test</h5>
      <p class="card-text">This test measures the Vanillylmandelic acid and other catecholamine metabolites like HVA in urine.</p>
      <a href="#" class=" btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>



</div>
</div>
</body>
