<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Virology</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Rubella Immunity</h5>
      <p class="card-text">The rubella test is used to detect antibodies in the blood that develop in response to a rubella infection or immunization.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Mumps Serology</h5>
      <p class="card-text">A buccal or oral swab specimen for detection of virus should be collected as soon as possible upon suspicion of mumps disease.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Hepatitis B SA</h5>
      <p class="card-text">Hepatitis B Surface Antibodies looks for antibodies that your ImmuneSystem makes in response of surface protein of the hepatitis B virus.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">HIV Serology </h5>
      <p class="card-text">Serological testing identifies HIV antigen and/or antibody generated as part of the immune response to infection with HIV.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Hepatitis C Serology</h5>
      <p class="card-text">The diagnostic blood tests for hepatitis C virus (HCV), detect antibodies to HCV, and the molecular assays which detect or quantify HCV RNA.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Hepatitis A Serology</h5>
      <p class="card-text">Hepatitis A serology involves qualitative detection of IgG antibodies and IgM antibodies to human Hepatitis A virus.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Varicella Zoster Immunity</h5>
    <p class="card-text">This test detects either antibodies produced by the immune system in response to a VZV infection.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Syphilis Serology Test</h5>
      <p class="card-text">A syphilis test is usually in the form of a blood test. During this test, a professional will take a blood sample from a vein in your arm.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Toxoplasma Serology</h5>
      <p class="card-text">A toxoplasmosis test is a blood test that checks for antibodies to the Toxoplasma gondii parasite. It's also called a toxoplasma test.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">ASOT Test</h5>
      <p class="card-text">It is a blood test to measure antibodies against streptolysin O, a substance produced by group A streptococcus bacteria.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">CMV Serology test</h5>
      <p class="card-text">The CMV blood test determines the presence of proteins called antibodies to a virus called cytomegalovirus (CMV) in the blood.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Parvovirus Serology</h5>
      <p class="card-text">Parvovirus serology (anti–parvovirus B19 IgM and IgG antibodies) can be determined using ELISA or radioimmunoassay.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Hepatitis A Immunity</h5>
      <p class="card-text">This test looks for antibodies in your blood called IgM. The test can find out if you are infected with the hepatitis A virus (HAV).</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Atypical Pneumonia Test</h5>
      <p class="card-text">This test looks for antibodies in your blood called IgM. The test can find out if you are infected with the HAV.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">General Virus Serology Test</h5>
      <p class="card-text">Viral serology activities involve virus detection, quantifying viral antigens, and the presence of virus.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Viral Detection (Swab)</h5>
      <p class="card-text">A viral skin swab is a sterile object, lightly rubbed against a visible skin lesion or vesicle which tells you if you have a current infection.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Hepatitis E Serology</h5>
      <p class="card-text">Hepatitis E test detects specific anti-HEV immunoglobulin M (IgM) antibodies to the virus in a person's blood.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Hepatitis B Core Antibody</h5>
      <p class="card-text">This test looks for antibodies called IgM in your blood,to find out whether you are actively infected.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Bloodborne Virus Screen (HIV, HBV and HCV)</h5>
      <p class="card-text">This test is an antibody test detecting the body's immune reaction to the virus.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Chlamydia and GC Detection Test (swab)</h5>
      <p class="card-text">The soft tip end of the swab is inserted into your vagina about 2 inches to get the samples.</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
  </div>
</div>

</div>
</div>
</body>
