.btn-primary
{
  background-color: whitesmoke;
  color:black;
  border-color: #e7e7e7;
  transition-duration: 0.4s;
}
.btn-primary:hover {
  background-color: 	#d8bfd8;
}
.card{
  height: 15rem;
  color: Black;
  background: #F09819;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
  height: auto;
  background-image: url('../../assets/path.jpg') ;
  background-size: cover;
}
h2
{
  color: whitesmoke
}
