<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">MRI</h2>
      <h3 class="heading-section">Head</h3>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MRI Head</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MRI Orbit Both</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title" style="font-size:13.4px;">MRI Internal Auditory Meatus Both</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MRI Angiogram Head</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MRI Caniofacial</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MRI Pituitary</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MRI Venogram</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title" style=" font-size:13.2px;">MRI Temporomandibular Joint Both</h5>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
</div>

  <h3 class="heading-section">Neck</h3>
  <br>
<div class="row">
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
  <h5 class="card-title">MRI Spine Cervical</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
  <h5 class="card-title">MRI Neck</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
<div class="card-body">
  <h5 class="card-title">MRI Parotid</h5>
  <a href="#" class="btn btn-primary">Take Test</a>
</div>
</div>
</div>
</div>

</div>
</body>
