<app-navbar></app-navbar>
<body>
      <div class="container">
				<div class="row mb-4">
					<div class="col-md-12">
						<br>
						<h2 class="heading-section">Services</h2>
					</div>
				</div>
			<div class="row">
				<div class="col-md-3 mb-3">
					<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/pathology" style="background-color: #e5243b;">
						<div class="text">
						<img  src="assets/pathology.png" class="rounded mx-auto d-flex" alt="...">
						<span>Pathology</span>
					</div>
					</button>
				</div>
					<div class="col-md-3 mb-3">
						<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/radiology" style="background-color: #DDA63A;">
							<div class="text">
							<img src="assets/radiology.png" class="rounded mx-auto d-flex" alt="...">
							<span>Radiology</span>
						</div>
						</button>
					</div>
					</div>
					</div>
</body>
