.btn-primary
{
  background-color: whitesmoke;
  color:black;
  border-color: #e7e7e7;
  transition-duration: 0.4s;
  height: 150px;
  opacity: 0.8
}

img {
    width: 75px;
    text-align: center;
}
.text
{
  text-align:center;
  margin: auto;
}
.heading-section
{
  background-color: #1D1B7D;
  width:75px;
  color:white;
  font-size: 100%;
}
.btn-primary:hover {
  background-color: 	#E8E8E8;
}
body{
  height: 600px;
  background-image: url('../../assets/slosh.jpg') ;
  background-size: cover;
}
