<app-navbar></app-navbar>

<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Haematology</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Full blood count</h5>
      <p class="card-text">A complete blood count (CBC) is a blood test used to evaluate your overall health and detect a wide range of disorders.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Reticulocytes</h5>
      <p class="card-text">A reticulocyte count is used to determine the number of reticulocytes in the blood to help evaluate conditions that affect RBCs.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">INR</h5>
      <p class="card-text">The International Normalized Ratio test measures the time for the blood to clot. It is also known as prothrombin time or PT.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">D-dimers</h5>
      <p class="card-text">A D-dimer test looks for D-dimer in blood. D-dimer is a protein fragment (small piece) that's made when a blood clot dissolves in your body.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Glandular Fever Test</h5>
      <p class="card-text">Glandular fever is diagnosed with a simple blood test called a mono spot test, which tests for antibodies to the Epstein-Barr virus.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>

</div>
</div>
