<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Common Tests</h2>
    </div>
  </div>
<!-- <div class="row">
<div class="col-md-3 mb-3">
<div class="card  mb-3" style="max-width: 20rem;" *ngFor="let a of commontestsPackage"  >
  <div class="card-body">
    <h5 class="card-title">{{a.packageName}}</h5>
    <p class="card-text">{{a.packageDesc}}</p>
    <a class="btn btn-primary" (click)="add(a)">Add to Cart</a>
  </div>
</div>
</div> -->


<div class="row">
<div class="col-md-3 mb-3"  *ngFor="let a of commontestsPackage">
<div class="card  mb-3" style="max-width: 20rem;" >
  <div class="card-body">
    <h5 class="card-title">{{a.packageName}}</h5>
    <p class="card-text">{{a.packageDesc}}</p>
    <a class="btn btn-primary" (click)="add(a)">Add to Cart</a>
  </div>
</div>
</div>


</div>
</div>

</body>
