<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Common Tests</h2>
    </div>
  </div>
<div class="row">
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem; ">
  <div class="card-body">
    <h5 class="card-title">Glucose(plasma) Test</h5>
    <p class="card-text">A fasting plasma glucose test or fasting glucose test (FGT), is a test that can be used to help diagnose diabetes or pre-diabetes.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Complete blood Picture</h5>
    <p class="card-text">CBP is a blood test used to evaluate your overall health and detect a wide range of disorders.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Urea and Electrolytes Test</h5>
    <p class="card-text">They provide essential information on renal function, principally in excretion and homoeostasis.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipids Test</h5>
    <p class="card-text">A lipid panel is a blood test that measures lipids—fats and fatty substances used as a source of energy by your body.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipids+HDL Test</h5>
    <p class="card-text">An HDL cholesterol test measures the amount of cholesterol found inside high-density lipoproteins (HDL) in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">HbA1c</h5>
    <p class="card-text">An HDL cholesterol test measures the amount of cholesterol found inside high-density lipoproteins (HDL) in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Full blood count</h5>
    <p class="card-text">A complete blood count (CBC) is a blood test used to evaluate your overall health and detect a wide range of disorders.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Vitamin D Test</h5>
    <p class="card-text">A vitamin D blood test measures the level of 25(OH)D in your blood.Abnormal levels can indicate bone disorders</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Hepatitis A Serology</h5>
    <p class="card-text">Hepatitis A serology involves qualitative detection of IgG antibodies and IgM antibodies to human Hepatitis A virus.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Hepatitis B Serology</h5>
    <p class="card-text">Hepatitis B serologic testing involves measurement of several hepatitis B virus (HBV)-specific antigens and antibodies.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Hepatitis B SA</h5>
    <p class="card-text">Hepatitis B Surface Antibodies looks for antibodies that your ImmuneSystem makes in response of surface protein of the hepatitis B virus.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
  <div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Hepatitis C Serology</h5>
    <p class="card-text">The diagnostic blood tests for hepatitis C virus (HCV), detect antibodies to HCV, and the molecular assays which detect or quantify HCV RNA.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Thyroid Function Test</h5>
    <p class="card-text">Test used to tell if your thyroid gland is functioning properly by measuring the amount of thyroid hormones in your blood.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">HIV Serology </h5>
    <p class="card-text">Serological testing identifies HIV antigen and/or antibody generated as part of the immune response to infection with HIV.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Liver Function Test </h5>
    <p class="card-text">Liver function tests, also referred to as a hepatic panel, are groups of blood tests that provide information about the state of a patient's liver.</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Iron/Fe Test </h5>
    <p class="card-text">A ferritin blood test measures the level of ferritin in your blood. Ferritin is a protein that stores iron inside your cells. </p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card   mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Cholesterol Test</h5>
    <p class="card-text">Colesterol test is a blood test that measures the amount of each type of cholesterol and certain  types of fats in your blood. </p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>



</div>
</div>
</body>
