<app-navbar></app-navbar>

<body>
<section class="ftco-section" id="buttons">
			<div class="container">
				<div class="row mb-4">
					<div class="col-md-12">
						<br>
						<h2 class="heading-section">Radiology</h2>
					</div>
				</div>
			<div class="row">
				<div class="col-md-3 mb-3">
					<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/xray" style="background-color: #0A97D9;">
						<div class="text">
						<img align="middle" src="assets/xray.png" class="rounded mx-auto d-flex" alt="...">
						<span>X-Ray</span>
					</div>
					</button>
				</div>
					<div class="col-md-3 mb-3">
						<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/ultrasound" style="background-color: #19486A;">
							<div class="text">
							<img src="assets/ultrasound.png" class="rounded mx-auto d-flex" alt="...">
							<span>Ultrasound</span>
						</div>
						</button>
					</div>
				 <div class="col-md-3 mb-3">
					  <button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/ctscan" style="background-color: #56C02B;">
							<div class="text">
								<img src="assets/ctscan.png" class="rounded mx-auto d-flex" alt="...">
							 <span>ctscan</span>
						 </div>
					   </button>
					</div>
										 	<div class="col-md-3 mb-3">
												<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" routerLink="/mri" style="background-color: #3F7E44;" >
													<div class="text">
													<img src="assets/MRI.png" class="rounded mx-auto d-flex" alt="...">
													<span>MRI</span>
												</div>
												</button>
											</div>
											<div class="col-md-3 mb-3">
												<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #BF8B2E;">
													<div class="text">
													<img src="assets/cardiac.png" class="rounded mx-auto d-flex" alt="...">
													<span>Cardiac Imaging</span>
												</div>
												</button>
											</div>
													<div class="col-md-3 mb-3">
														<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #DD1367;">
															<div class="text">
															<img src="assets/mammography.png" class="rounded mx-auto d-flex" alt="...">
															<span>Mammography</span>
														</div>
														</button>
													</div>
													<div class="col-md-3 mb-3">
														<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #A21942;">
															<div class="text">
															<img src="assets/flouroscopy.png" class="rounded mx-auto d-flex" alt="...">
															<span>Flouroscopy</span>
														</div>
														</button>
													</div>
													<div class="col-md-3 mb-3">
														<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #26BDE2;">
															<div class="text">
															<img src="assets/DEXAscan.png" class="rounded mx-auto d-flex" alt="...">
															<span>DEXA Scan</span>
														</div>
														</button>
													</div>
													<div class="col-md-3 mb-3">
														<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #C5192D;">
															<div class="text">
															<img src="assets/stresstest.png" class="rounded mx-auto d-flex" alt="...">
															<span>Stress Test</span>
														</div>
														</button>
													</div>
													<div class="col-md-3 mb-3">
														<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #4C9F38;">
															<div class="text">
															<img src="assets/nuclear.png" class="rounded mx-auto d-flex" alt="...">
															<span>Nuclear Medicine & PET Scan</span>
														</div>
														</button>
													</div>
													<div class="col-md-3 mb-3">
														<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex" style="background-color: #DDA63A;">
															<div class="text">
															<img src="assets/misc.png" class="rounded mx-auto d-flex" alt="...">
															<span>Miscellaneous</span>
														</div>
														</button>
												  </div>
									</div>
									</div>

	</section>
</body>
