.btn-primary
{
  background-color: whitesmoke;
  color:black;
  border-color: #e7e7e7;
  transition-duration: 0.4s;
  height: 150px;
  opacity: 0.8;

}

img {
    width: 75px;
    text-align: center;
}
.text
{
  font-weight: bold;
  text-align:center;
  margin: auto;
  font-size: 20px;
}
.heading-section
{
  width:75px;
  color:white;
  font-size: 40px;
  color: #1977cc;
}
.btn-primary:hover {
  background-color: 	#E8E8E8;
}
body{
  height: 600px;
  background-image: url('../../assets/slosh.jpg') ;
  background-size: cover;
}

.btn-primary:hover
 {
    width: 300px;
    border-color: #2ecc71;
    border:30px;
    transform-style: preserve-3d;
    transform: scale(1.2,1.2);
    transform-origin:center;

}


/*&:hover::after
    transform translate(0, 0)

  &:hover
    border 2px solid transparent
    color indigo
    transform scale(1.05) */
