<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Routine Chemical Tests</h2>
    </div>
  </div>
<div class="row">
<div class="col-md-3 mb-3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Urea and Electrolytes Test</h5>
      <p class="card-text">They provide essential information on renal function, principally in excretion and homoeostasis.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
      <h5 class="card-title">Liver Function Test </h5>
      <p class="card-text">Liver function tests, also referred to as a hepatic panel, are groups of blood tests that provide information about the state of a patient's liver.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
      <h5 class="card-title">Bone Profile Test </h5>
      <p class="card-text">A bone profile of blood tests helps to determine how well your body's metabolic processes are affecting your skeleton.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipids Test</h5>
    <p class="card-text">A lipid panel is a blood test that measures lipids—fats and fatty substances used as a source of energy by your body.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipids+HDL Test</h5>
    <p class="card-text">An HDL cholesterol test measures the amount of cholesterol found inside high-density lipoproteins (HDL) in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Glucose(plasma) Test</h5>
    <p class="card-text">A fasting plasma glucose test or fasting glucose test (FGT), is a test that can be used to help diagnose diabetes or pre-diabetes.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">HbA1c</h5>
    <p class="card-text">An HDL cholesterol test measures the amount of cholesterol found inside high-density lipoproteins (HDL) in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Albumin (Random Urine) </h5>
    <p class="card-text"> This test determines if there is an abnormal amount of the protein albumin in a urine sample.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Thyroid Function Test</h5>
    <p class="card-text">Test used to tell if your thyroid gland is functioning properly by measuring the amount of thyroid hormones in your blood.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Prostate Specific Antigen Test</h5>
    <p class="card-text">This test is used to measure blood PSA levels and help detect prostate cancer or other prostate abnormalities.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Vitamin B12 Test</h5>
    <p class="card-text">This test measures the amount of vitamin B12 in the blood, body needs this B vitamin to make blood cells and maintain nervous system.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Folate Test</h5>
    <p class="card-text">A folate test measures the amount of folic acid in the blood. Folic acid is vitamin B-9, which is essential for normal growth.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Iron/Fe Test </h5>
    <p class="card-text">A ferritin blood test measures the level of ferritin in your blood. Ferritin is a protein that stores iron inside your cells. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Amylaze Test </h5>
    <p class="card-text">THis test measures the amount of amylase in a person's blood. Abnormal levels of amylase may indicate problem with the pancreas. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Gamma GT</h5>
    <p class="card-text">This test measures the amount of the enzyme GGT in your blood, may also used to determine the cause of elevated AP.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Creatine kinase</h5>
    <p class="card-text">This test measures the amount of creatine kinase in the blood. High levels can indicate damage or disease of the skeletal muscles.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Magnesium Test</h5>
    <p class="card-text">Magnesium blood test is used to check the level of magnesium in your blood. Levels that are too low are known as hypomagnesemia.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Urine/Uric Acid Test</h5>
    <p class="card-text">Urine/Uric acid test measures the levels of uric acid you have in your blood. Samples are taken in the form of urine or blood. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Cholesterol Test</h5>
    <p class="card-text">Colesterol test is a blood test that measures the amount of each type of cholesterol and certain  types of fats in your blood. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">NT - pro BNP Test</h5>
    <p class="card-text">The NT-proBNP blood test measures brain natriuretic peptide to detect heart failure, NT-proBNP are protiens made by the heart.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Adjusted Calcium (Serum)</h5>
    <p class="card-text">This test measures the calcium value adjusted for the albumin concentration in the blood.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">GTT</h5>
    <p class="card-text">The glucose tolerance test is a test in which glucose is given and blood samples taken to determine how quickly it is cleared from the blood.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">HCG Test</h5>
    <p class="card-text">The human chorionic gonadotropin (hCG) blood test measures the level of hCG hormone present in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">LH+FSH Test</h5>
    <p class="card-text">FSH works closely with another hormone LH to control sexual functions.This test indicates damage of the testes or ovaries.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Oestradiol Test</h5>
    <p class="card-text">This test measures the amount of estradiol (E2), used to evaluate and diagnose the cause of precocious puberty in girls. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Progesterone Test</h5>
    <p class="card-text">A progesterone test measures the level of progesterone in your blood. Progesterone is a female hormone made by the ovaries. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Prolactin Test</h5>
    <p class="card-text">This test (PRL) measures how much of a hormone called prolactin you have in your blood. The hormone is made in your pituitary gland. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Testosterone Test</h5>
    <p class="card-text"> In males, the testosterone test can help find the reason for sexual problems, like reduced sex drive or erectile dysfunction. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Testosterone Test</h5>
    <p class="card-text"> In males, the testosterone test can help find the reason for sexual problems, like reduced sex drive or erectile dysfunction. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Free Androgen Index Test</h5>
    <p class="card-text">The Free Androgen Index (FAI) test gives an estimate of how much free testosterone is present in the blood. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Carbamazepine Test</h5>
    <p class="card-text">This test measures the amount of the medicine carbamazepine in your blood.It is a medicine used to treat epilepsy. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Digoxin Test</h5>
    <p class="card-text">A digoxin test checks how much digoxin you have in your blood. Digoxin is a type of medicine called a cardiac glycoside. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipoprotein Test</h5>
    <p class="card-text">A lipoprotein (a) test is used to check for risk of stroke, heart attack, or other heart diseases.Lipoproteins are made of protein and fat. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lithium Test</h5>
    <p class="card-text">This test measures and monitors the amount of lithium in your blood. It is a medicine used to treat psychiatric illnesses. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Phenobarbital Test</h5>
    <p class="card-text">This test measures the amount of the phenobarbital in your blood. Phenobarbital is used to treat epilepsy in children and adults. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Phenytoin Test</h5>
    <p class="card-text">This test monitors the level of the seizure medicine phenytoin (Dilantin) in your blood.It is an anticonvulsant medicine to control seizures. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Theophyllin Test</h5>
    <p class="card-text">This test measures the level of theophylline in your blood. It is a chemical similar to caffeine, used as a medicine to treat lung conditions. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">CSF Test</h5>
    <p class="card-text">This is a test to look at the fluid that surrounds the brain and spinal cord. CSF acts as a cushion, protecting the brain and spine from injury. </p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Faecal Calprotectin Test</h5>
    <p class="card-text">Faecal calprotectin testing helps clinicians distinguish between inflammatory bowel issues and non-inflammatory bowel issues.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Osmolality Test</h5>
    <p class="card-text">This test measures the amount of dissolved substances such as sodium, potassium etc in blood, urine or stool.</p>
    <a href="#" class="btn btn-primary">Take Test</a>
  </div>
  </div>
</div>


</div>
</div>
</body>
