<app-navbar></app-navbar>

<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Microbiology</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">STI Blood Test</h5>
      <p class="card-text"> The STI screening test is a blood or saliva test for human immunodeficiency virus (HIV), the virus that causes AIDS. STI testing can be quick and easy.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">HIV Serology Test</h5>
        <p class="card-text"> Serological testing identifies HIV antigen and/or antibody generated as part of the immune response to infection with HIV.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Syphilis Serology Test</h5>
        <p class="card-text">A syphilis test is usually in the form of a blood test. During this test, a professional will take a blood sample from a vein in your arm.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Chlamydia and GC Detection Test (urine)</h5>
        <p class="card-text">Urine specimens are used to reliably screen both male and female patients for symptomatic or AUI.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">High Vaginal Swab</h5>
        <p class="card-text">HVS is a technique used to obtain a sample of discharge from the vagina. This is then sent for culture and sensitivity.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Endocervical Swab Test</h5>
        <p class="card-text">An endocervical gram stain checks for abnormal bacteria in or around the cervixAn endocervical gram stain can detect STIs.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Chlamydia and GC Detection Test (swab)</h5>
        <p class="card-text">The soft tip end of the swab is inserted into your vagina about 2 inches to get the samples.</p>
        <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>


</div>
</div>
