<app-navbar></app-navbar>
<body>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Chemical Pathology</h2>
    </div>
  </div>
<div class="row">
    <div class="col-md-3 mb-3" *ngFor="let a of chemicalPackage">
    <div class="card  border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">{{a.packageName}}</h5>
        <p class="card-text">{{a.packageDesc}}</p>
        <a class="btn btn-primary"  (click)="add(a)" >Add to Cart</a>
    </div>
    </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Liver Function Test </h5>
    <p class="card-text">Liver function tests, also referred to as a hepatic panel, are groups of blood tests that provide information about the state of a patient's liver.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipids Test</h5>
    <p class="card-text">A lipid panel is a blood test that measures lipids—fats and fatty substances used as a source of energy by your body.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Lipids+HDL Test</h5>
    <p class="card-text">An HDL cholesterol test measures the amount of cholesterol found inside high-density lipoproteins (HDL) in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Glucose(plasma) Test</h5>
    <p class="card-text">A fasting plasma glucose test or fasting glucose test (FGT), is a test that can be used to help diagnose diabetes or pre-diabetes.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">HbA1c</h5>
    <p class="card-text">An HDL cholesterol test measures the amount of cholesterol found inside high-density lipoproteins (HDL) in a sample of your blood.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Thyroid Function Test</h5>
    <p class="card-text">Test used to tell if your thyroid gland is functioning properly by measuring the amount of thyroid hormones in your blood.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Iron/Fe Test </h5>
    <p class="card-text">A ferritin blood test measures the level of ferritin in your blood. Ferritin is a protein that stores iron inside your cells. </p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Bone Profile Test </h5>
    <p class="card-text">A bone profile of blood tests helps to determine how well your body's metabolic processes are affecting your skeleton. </p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Albumin (Random Urine) </h5>
    <p class="card-text"> This test determines if there is an abnormal amount of the protein albumin in a urine sample.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Proteins/Creatinine ratio(random) </h5>
    <p class="card-text"> A protein and creatinine urine test, random measures the protein/creatinine ratio random untimed. </p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Protein/Creat(24 Hour Urine) </h5>
    <p class="card-text">A Protein Total Urine Test, 24-Hour with Creatinine is used to monitor kidney function, and to detect kidney damage.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Prostrate Specific Antigen </h5>
    <p class="card-text">This test is used to measure blood PSA levels and help detect prostate cancer or other prostate abnormalities.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Gamma GT</h5>
    <p class="card-text">This test measures the amount of the enzyme GGT in your blood, may also used to determine the cause of elevated AP.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Vitamin B12</h5>
    <p class="card-text">This test measures the amount of vitamin B12 in the blood, body needs this B vitamin to make blood cells and maintain nervous system.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Folate Test</h5>
    <p class="card-text">A folate test measures the amount of folic acid in the blood. Folic acid is vitamin B-9, which is essential for normal growth.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">GTT</h5>
    <p class="card-text">The glucose tolerance test is a test in which glucose is given and blood samples taken to determine how quickly it is cleared from the blood.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>
<div class="col-md-3 mb-3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Creatine kinase</h5>
    <p class="card-text">This test measures the amount of creatine kinase in the blood. High levels can indicate damage or disease of the skeletal muscles.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
  </div>
</div>



</div>
</div>
</body>
