<app-navbar></app-navbar>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-12">
      <br>
      <h2 class="heading-section">Haemo Tests</h2>
    </div>
  </div>
<div class="row">
  <div class="col-md-3 mb-3">
  <div class="card text-dar bg-secondary mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Full blood count</h5>
      <p class="card-text">A complete blood count (CBC) is a blood test used to evaluate your overall health and detect a wide range of disorders.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">INR</h5>
      <p class="card-text">The International Normalized Ratio test measures the time for the blood to clot. It is also known as prothrombin time or PT.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Coagulation Screen Test</h5>
      <p class="card-text">Coagulation tests measure your blood's ability to clot, proteins that are essential for blood clot formation.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Plasma Screen Test</h5>
      <p class="card-text">Plasma protein tests are blood tests that detect the amount of proteins in the blood. These tests are also known as a total protein test.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Plasma Viscosity Test</h5>
      <p class="card-text">Plasma viscosity test can be used as an indirect measure of the amount of protein present in the plasma (liquid) part of the blood.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Plasma Viscosity Test</h5>
      <p class="card-text">Plasma viscosity test can be used as an indirect measure of the amount of protein present in the plasma (liquid) part of the blood.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">D-dimers</h5>
      <p class="card-text">A D-dimer test looks for D-dimer in blood. D-dimer is a protein fragment (small piece) that's made when a blood clot dissolves in your body.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">MP Screen </h5>
      <p class="card-text">The Malarial Parasite test helps to detect malaria antigens in the blood and to determine drug susceptibility of the parasite.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Glandular Fever Test </h5>
      <p class="card-text">This can be diagnosed with a simple blood test called a mono spot test. This will test for the Epstein-Barr virus, which causes glandular fever.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Haemoglobinopathy Screen </h5>
      <p class="card-text">This is a group of tests that determines the presence and relative amounts of abnormal forms of hemoglobin.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
  <div class="card text-dark bg-info mb-3 border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">G6PD Screen</h5>
      <p class="card-text">The G6PD test is a blood test that measures how much of this enzyme glucose-6-phosphate dehydrogenase you have in your blood.</p>
      <a href="#" class="btn btn-primary">Take Test</a>
    </div>
    </div>
  </div>


</div>
</div>
